<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="styles/paperjs-style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.2/paper-full.min.js"></script>
</head>

<body>

<canvas id="myCanvas" keepalive="true" resize="true" hidpi="off"></canvas>
<script type="text/paperscript" canvas="myCanvas" src="js/circles.js"></script>
</body>

</html>