<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SVG Animated icons</title>
    <link rel="stylesheet" href="styles/medical.css">
</head>

<body>
<div class="header">
    <div class="title">Medical SVG<br/>Animated Icons
    </div>
    <div class="bar"></div>
</div>
<div class="navigation">
    <button class="navButton" id="prevButton">Prev</button>
    <div id="navText">1/4</div>
    <button class="navButton" id="nextButton">Next</button>
</div>
<div class="column">
    <div class="bm_container" id="icon-container-cross">
        <div class="bm_inner_container" id="icon-cross"></div>
    </div><!--
    -->
    <div class="bm_container" id="icon-container-bandaid">
        <div class="bm_inner_container" id="icon-bandaid"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-bottle">
        <div class="bm_inner_container" id="icon-bottle"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-eye">
        <div class="bm_inner_container" id="icon-eye"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-mobile">
        <div class="bm_inner_container" id="icon-mobile"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-pills">
        <div class="bm_inner_container" id="icon-pills"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-stethoscope">
        <div class="bm_inner_container" id="icon-stethoscope"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-syringe">
        <div class="bm_inner_container" id="icon-syringe"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-ambulance">
        <div class="bm_inner_container" id="icon-ambulance"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-apple">
        <div class="bm_inner_container" id="icon-apple"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-atoms">
        <div class="bm_inner_container" id="icon-atoms"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-heart">
        <div class="bm_inner_container" id="icon-heart"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-bicycle">
        <div class="bm_inner_container" id="icon-bicycle"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-dropper">
        <div class="bm_inner_container" id="icon-dropper"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-female_doctor">
        <div class="bm_inner_container" id="icon-female_doctor"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-female_nurse">
        <div class="bm_inner_container" id="icon-female_nurse"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-male_doctor">
        <div class="bm_inner_container" id="icon-male_doctor"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-male_nurse">
        <div class="bm_inner_container" id="icon-male_nurse"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-thermometer">
        <div class="bm_inner_container" id="icon-thermometer"></div>
    </div><!--
        -->
    <div class="bm_container" id="icon-container-tubes">
        <div class="bm_inner_container" id="icon-tubes"></div>
    </div>
</div>
<script src='https://labs.nearpod.com/bodymovin/demo/medical_icons/animations.js'></script>
<script src='https://labs.nearpod.com/bodymovin/demo/medical_icons/bodymovin.js'></script>
<script src="js/medical.js"></script>

</body>
</html>
